mahesh/password-management-sapi/src/main/mule/password-management-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="password-management-sapi-main">
        <http:listener config-ref="password-management-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="password-management-sapi-config" />
		<error-handler ref="main-errorHandler" />
    </flow>
	<flow name="get:\user:password-management-sapi-config" doc:id="1fdbc213-7902-403c-86df-6863497fa350" >
		<logger level="INFO" doc:name="Entry logger" doc:id="eb856485-0d0e-4316-81f7-43ca48ad6f35" message="post:\user Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="a25c2951-23fd-420a-934b-fa2550a74a1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
p('sapi.query.fetch_all_users')]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<flow-ref doc:name="Get all users" doc:id="4cbb283e-6ec5-44a5-91c6-ac9560e8699f" name="get_users-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="0b5bc3b8-d05b-4a0f-9d52-7173299f1fc8" message="post:\user Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\user\(username):password-management-sapi-config" doc:id="fe646734-c5d3-426a-a6ab-242ff8d9575e" >
		<logger level="INFO" doc:name="Entry logger" doc:id="83332e87-55a9-43e8-a4f7-6fc3eb076104" message="get:\user\(username) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="ef98eb90-226b-4835-b950-cd7d6beb4057" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"SELECT username, email, phone FROM public.user_register where username = '" ++ attributes.uriParams.username ++ "';"]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<flow-ref doc:name="Get user by username" doc:id="82a5bfc6-44b8-437a-80d6-f4a0f4794774" name="get_users-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="cd51d908-9de7-473f-ad1c-f8c10e4a7d13" message="get:\user\(username) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\user\verify\signup:application\json:password-management-sapi-config" doc:id="59dee992-c407-42a6-b10b-258a29335cae" >
		<logger level="INFO" doc:name="Entry logger" doc:id="d0824f1f-bd1a-49a5-a387-9d5c18e4967c" message="post:\user\signup Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="Register users" doc:id="b2fa8619-4a5a-435c-8911-6beb7a793314" name="register_users-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="9a999302-c4e0-4212-a601-0b674cf37ad6" message="post:\user\signup Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\user\signin:application\json:password-management-sapi-config" doc:id="2886ce24-f0ba-4038-a685-e08fb704c89c">
		<logger level="INFO" doc:name="Entry logger" doc:id="f8279854-0178-4594-90f7-d2fc3c0e3615" message="post:\user\signin Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="login users" doc:id="b06a2f39-96fc-44d8-b62f-3bfb8e0e241b" name="login_users-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="597d4cae-38fd-43c4-b563-b52406733e1b" message="post:\user\signin Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="delete:\user\signout\(username):password-management-sapi-config" doc:id="a83033d7-5e18-44f3-9b29-ab11fac6c14a" >
		<logger level="INFO" doc:name="Entry logger" doc:id="591399db-1d16-47ec-ae5e-e2491acf777b" message="get:\user\(username) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="a8470235-1e54-463d-94fa-613fa721f444" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

"DELETE FROM public.user_login WHERE username = '" ++ attributes.uriParams.username ++ "';"]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<flow-ref doc:name="signout user by username" doc:id="e017ea32-ba8d-4b9e-98bb-42940fce5ab3" name="signout_users-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="7ffae98f-189a-4aeb-9bb2-8dc65e56060e" message="get:\user\(username) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\user\verifyToken:password-management-sapi-config" doc:id="47cc785e-1889-4d48-9d98-5dfbc73c7818" >
		<logger level="INFO" doc:name="Entry logger" doc:id="0326df94-70c8-4ce6-b45d-7ae9666d5bcd" message="get:\user\verifyToken Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="9bab41ca-43c5-426b-9e2a-5d86f3298db9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---

"SELECT session_token, username FROM public.user_login where session_token = '" ++ attributes.headers.'session_token' ++ "';"
]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<flow-ref doc:name="verify token" doc:id="ff38e909-65fa-4336-a575-4f6cca411bcd" name="verify_token-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="b52efded-f1ed-4d8f-95ec-3c9162ae2fa4" message="get:\user\verifyToken Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="put:\vault\(vault_id)\secrets\(category):application\json:password-management-sapi-config" doc:id="faacceb1-1a80-4b11-9523-56e15b3862f4" >
		<logger level="INFO" doc:name="Entry logger" doc:id="41dd1cea-eef1-40d4-a0dd-85da818f62e3" message="put:\vault\(vault_id)\(category)Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="update secrets by vault id and category" doc:id="5829de94-0c34-4178-977d-83ee566cc2a9" name="update_secrets-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="10f9a917-1b1b-4d4a-b48b-f6243f0d7c68" message="put:\vault\(vault_id)\(category) Flow ended " />
	</flow>
	<flow name="put:\vault\(vault_id):application\json:password-management-sapi-config" doc:id="2a4de236-4b2d-4db8-9369-b0a4bcbcc9f9" >
		<logger level="INFO" doc:name="Entry logger" doc:id="99eecc7f-e2ec-469a-b03a-7aaf5c4d839e" message="put:\vault\(vault_id) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="update vault by vault id" doc:id="1b40c82a-f9e0-4d79-b30d-d3dd7a616ce0" name="update_vault-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="57c12f31-30cb-4c15-9a94-b43008dc0432" message="put:\vault\(vault_id) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="delete:\vault\(vault_id)\secrets\(category):password-management-sapi-config" doc:id="99d2edeb-fc99-472b-9ae2-54d6c80c0830" >
		<logger level="INFO" doc:name="Entry logger" doc:id="83542b9e-ee99-4665-a36e-8d82132ac584" message="delete:\vault\(vault_id)\secrets\(category) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="a7418a78-947e-447f-a7fa-18b27662c194">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"DELETE FROM public.vault WHERE vault_id='" ++ attributes.uriParams.vault_id ++ "' and category='" ++ attributes.uriParams.category ++ "';"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="delete secrets using vault id and category " doc:id="d3b70a2b-f172-45f6-9845-104406522dde" name="delete_secrets_by_Id-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="694faa38-f24b-470a-ac5a-d8b484e8ce28" message="delete:\vault\(vault_id)\secrets\(category) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="delete:\vault\(vault_id):password-management-sapi-config" doc:id="ec3e8c83-32dc-47be-9886-03ae641d5160" >
		<logger level="INFO" doc:name="Entry logger" doc:id="8190569f-3236-4b94-b887-d75b57b0ab30" message="delete:\vault\(vault_id) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="117585ac-c805-476b-a861-daf73afdcf1b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"DELETE FROM public.vault WHERE vault_id='" ++ attributes.uriParams.vault_id ++ "';"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="delete vault by vault id" doc:id="bf0837f6-4edf-455d-915d-b4adb5132475" name="delete_vault_by_Id-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="79b072a5-04d2-4133-847e-be44be284e1f" message="delete:\vault\(vault_id) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\vault\(vault_id)\secrets:password-management-sapi-config" doc:id="f8668340-eab6-41aa-a914-a73f4b560d0a" >
		<logger level="INFO" doc:name="Entry logger" doc:id="f7d16add-6604-4d74-ab0a-94a0577a6317" message="get:\vault\(vault_id)\secrets Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set db payload" doc:id="de28c6af-acce-49d9-ab82-aaf291420ff5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"SELECT secrets, vault_id, category FROM public.secret where vault_id = '" ++ attributes.uriParams.vault_id ++ "';"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="get secrets" doc:id="44b40d82-0062-4e94-9f65-5e782d9a9216" name="get_secrets-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="db754c7f-63d2-4ede-9ba2-6fcc5f937648" message="get:\vault\(vault_id)\secrets Flow ended" />
	</flow>
	<flow name="get:\vault\(username):password-management-sapi-config" doc:id="6b806e92-4455-47fe-9f3c-b43b32936dbf" >
		<logger level="INFO" doc:name="Entry logger" doc:id="9f290d0b-7502-417a-8432-63f2354ca968" message="get:\vault\(username) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="Set db payload" doc:id="644f6d5e-5656-4233-97fe-1eb19e80a8d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"SELECT vault_id, vault_name, username FROM public.vault where vault.username = '" ++ attributes.uriParams.username ++ "';"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="get all vaults using username" doc:id="06242b2f-cbd0-4062-8cc8-5d9675595ded" name="get_vaults-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="e40b7ec0-0e63-4c3f-93ed-579bb3056ac8" message="get:\vault\(username) Flow ended" />
	</flow>
	<flow name="post:\vault\assignvault:application\json:password-management-sapi-config" doc:id="d86acf80-f04d-4146-a5cb-6f4e45c6510f" >
		<logger level="INFO" doc:name="Entry logger" doc:id="e5db2ce2-89f9-46f2-82ae-3cb40a3c6cd3" message="post:\vault\assignvault Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="providing access to requester" doc:id="2ed9cb7a-ba39-4482-b263-7c98e027e921" name="assign_vault-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="3ed76de1-ac34-463b-a1a4-c0a61647f33e" message="post:\vault\assignvault Flow ended" />
	</flow>
	<flow name="post:\vault\(vault_id)\secrets:application\json:password-management-sapi-config" doc:id="63d259da-5941-4084-8de1-a6d47076e1b6" >
		<logger level="INFO" doc:name="Entry logger" doc:id="1457a3f8-df8b-4b77-b856-095dca8c5b3c" message="post:\vault\(vault_id)\secrets Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="create secrets" doc:id="59836356-ae92-41f0-9c8c-aa22e1e586a6" name="create_secrets-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="dfc4d2d1-6f8c-41c3-91ec-77d8626058ca" message="post:\vault\(vault_id)\secrets Flow ended" />
	</flow>
	<flow name="post:\vault:application\json:password-management-sapi-config" doc:id="1c88eba5-6002-47d1-8fd1-f06e17046c82" >
		<logger level="INFO" doc:name="Entry logger" doc:id="f95109d9-9882-490d-9918-35dd93f52712" message="post:\vault Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="create vault" doc:id="36a9940a-24ae-4417-ac4c-af577a21fc99" name="create_vault-implSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="5588bdb6-c871-42c9-840f-93064485f879" message="post:\vault Flow ended" />
	</flow>
	<flow name="get:\vault\assignvault\(username)\(requester_username)\(vault_id):application\json:password-management-sapi-config" doc:id="5c3ef7ac-949d-410e-ae42-14e5953fb27f" >
		<logger level="INFO" doc:name="Entry logger" doc:id="891090ca-f376-40cd-a7dc-6ba5f12a3b8b" message="post:\vault\assignvault\(username)\(requester_username)\(vault_id) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="get assign vault" doc:id="bb1be6ea-0d66-4556-a754-131685184f93" name="get_assignVault-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="b3877a57-1461-4f88-afad-7d75ba635a96" message="post:\vault\assignvault\(username)\(requester_username)\(vault_id) Flow ended" />
	</flow>
</mule>
