Alagar/dws-notification-sapi/src/main/mule/dws-notification-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
       <flow name="dws-notification-sapi-main">
        <http:listener config-ref="dws-notification-sapi-listener-config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dws-notification-sapi-config" />
        <error-handler ref="global-apikit-error-handler">
        </error-handler>
           </flow>
    <flow name="get:\healthCheck:dws-notification-sapi-config">
        <logger level="INFO" doc:name="Log - Before  Health Check "
        message="*** GET /health endpoint triggered | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] ***" />
        <ee:transform doc:name="Health Chech Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Active",
  apiName: p('project.name'),
  message: "Application is Running",
  timestamp: (now() >> "IST" as String {format: "yyyy-MM-dd HH:mm:ss.SSS"})

} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
            <logger level="INFO" doc:name="Log - After Health Check "
        message="*** Health check responded with: #[payload] | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] ***" />
		<error-handler ref="global-apikit-error-handler" />
    </flow>
	<flow name="post:\notifications:application\json:dws-notification-sapi-config">
        <logger level="INFO" doc:name="Log - Before Sending Email"
        message="*** POST /notifications endpoint triggered | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] | Payload: #[payload] ***" />
        <flow-ref doc:name="Flow Refer Post Email Sub Flow" doc:id="5a34e93f-5e0f-48be-99bf-e8bd9b068065" name="post-email-flowSub_Flow" />
        <logger level="INFO" doc:name="Log - After Sending Email"
        message="*** Email send flow completed for /notifications | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] ***" />
        
		<error-handler ref="global-apikit-error-handler" />
    </flow>
</mule>
