Praveenkumar/dws-user-login-sapi/src/main/mule/dws-user-login-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="dws-user-login-sapi-main">
        <http:listener path="/api/*" config-ref="dws-user-login-system-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="User login main logger" doc:id="b92feb23-df18-4c94-94d0-e43ea04532b2" message="*** Received request on User login SAPI endpoint: #[attributes.requestPath] | CorrelationId: #[correlationId]***" />
		<apikit:router config-ref="dws-user-login-sapi-config" doc:name="APIkit-router-user-login-sapi"/>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="patch:\forgotPassword:application\json:dws-user-login-sapi-config">
		<flow-ref doc:name="Refer Update forgotPassword flow" doc:id="5abd8525-a5c4-49b0-a0d7-af0a68123f45" name="patch-forgotPassword-flow" />
		<ee:transform doc:name="Response Output" doc:id="8861c56a-4e1a-4ddf-987e-eeeef4632e34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "User Password has been updated Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-database-error-handler" />
    </flow>
    <flow name="get:\user\getAllUser:dws-user-login-sapi-config">
		<flow-ref doc:name="Refer Registered all users flow" doc:id="41d40801-7814-42f2-81f9-54781663497e" name="get-alluser-flow" />
		<ee:transform doc:name="Response Output" doc:id="5cde056e-06a7-4d04-a9e3-9cb2be37e3f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-database-error-handler" />
    </flow>
    <flow name="get:\healthCheck:dws-user-login-sapi-config">
        <ee:transform doc:name="Response Output">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Active",
  apiName: p('api.name'),
  message: "Application is Running",
  timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="get:\user\(email):dws-user-login-sapi-config">
        <ee:transform doc:name="Set vEmail">
            <ee:variables>
				<ee:set-variable variableName="vEmail" ><![CDATA[attributes.uriParams.'email']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Refer Registered all users flow" doc:id="40ab517d-ffa3-466a-b521-75eca7a3be8b" name="get-userByEmailId-flow" />
		<ee:transform doc:name="Response Output" doc:id="7c3b5c52-0fcf-4aee-a9d2-2880b109ece8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-database-error-handler" />
    </flow>
    <flow name="post:\authenticateUser:application\json:dws-user-login-sapi-config">
		<flow-ref doc:name="Refer AunthenticateUser flow" doc:id="4be9d3e4-2a6d-4d36-b20c-402736a9d4a4" name="post-authenticateUser-flow" />
		<ee:transform doc:name="Response Output" doc:id="00de7769-35e5-4872-9ac4-094756e65fe3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-database-error-handler" />
    </flow>
    <flow name="post:\user\register:application\json:dws-user-login-sapi-config">
		<flow-ref doc:name="Refer Register new user flow" doc:id="79806405-e1f7-45e9-a97b-c42061ae56b5" name="post-register-flow" />
		<ee:transform doc:name="Response Output" doc:id="1d4c3d3b-72e8-4f2f-9605-7fbb2274d77a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "User registered successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-database-error-handler" />
    </flow>
</mule>
