mahesh/password-management-papi/src/main/mule/password-management-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="password-management-papi-main">
        <http:listener config-ref="password-management-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="password-management-papi-config" />
		<error-handler ref="main-errorHandler" />
    </flow>
	<flow name="get:\user:password-management-papi-config" doc:id="3f48f81a-4068-437e-b1ed-763d8ed04246" >
		<logger level="INFO" doc:name="Entry logger" doc:id="172d0eb1-137a-45c9-9f17-4276fd67c928" message="get:\user Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set request payload and request preset for get users" doc:id="ff9cd05f-a7bd-4705-b1b9-6fc75bc50d6a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
p('sapi.query.fetch_all_users')]]></ee:set-variable>
				<ee:set-variable variableName="requestPreset" ><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port":p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.getUser.path'),
"method": p('pwd_mngmt.sapi.getUser.method')	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Get users" doc:id="2c7283cc-3d50-483d-b4a6-2c9daa769d24" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="70c9a0f5-2e68-4d3f-8f89-9102db9065f7" message="get:\user Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\user\signin:application\json:password-management-papi-config" doc:id="fb1ad602-6588-405a-b06a-875d61042cf4" >
		<logger level="INFO" doc:name="Entry logger" doc:id="eab49361-bfe4-4ac2-aa86-d7753159b50c" message="post:\user\signin Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set request payload and request preset for get user" doc:id="05d8a901-7bd9-422b-b08b-3a2251df4024" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/java
---
if(payload.username contains "@") "SELECT username, password FROM public.user_register where email = '" ++ payload.username ++ "' and " ++ "password = '" ++ payload.password ++ "';"
else "SELECT email, password FROM public.user_register where username = '" ++ payload.username ++ "' and " ++ "password = '" ++ payload.password ++ "';"]]></ee:set-variable>
				<ee:set-variable variableName="requestPreset" ><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port":p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.getUser.path'),
"method": p('pwd_mngmt.sapi.getUser.method')	
}]]></ee:set-variable>
				<ee:set-variable variableName="initialPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Get user" doc:id="b465eba2-fc94-4808-8b46-78d65a0861a3" name="common-pwd-management-sapi-callSub_Flow" />
		<flow-ref doc:name="validating credentials" doc:id="ecab2adb-9d16-45a1-958a-ea73ed1a4013" name="user-signinSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="610f2314-f7b9-46ce-81ac-28e63c0c94b5" message="post:\user\signin Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\user\signup:application\json:password-management-papi-config" doc:id="25bf0a72-434a-4d8c-bbba-0eed4cf19918" >
		<logger level="INFO" doc:name="Entry logger" doc:id="45452ae0-08fb-4e8f-ab81-1c9adb396083" message="post:\user\signup Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set request payload and request preset for get user" doc:id="7ec2967f-7e25-498e-b7a3-06063a69d80c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="requestPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="requestPreset" ><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port":p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.getUser.path'),
"method": p('pwd_mngmt.sapi.getUser.method')	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="validating client and OTP generation" doc:id="8c612d49-35aa-45a8-91a0-62b16095dd55" name="user-signupSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="843033b2-c01f-491e-a2ce-249b2c7c1b66" message="post:\user\signup Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\user\verify\signup:application\json:password-management-papi-config" doc:id="3038d871-d010-413f-b993-a962c4d0adbd" >
		<logger level="INFO" doc:name="Entry logger" doc:id="b0e372c2-715b-4354-aca5-b000eba3727a" message="post:\user\verify\signup Flow started | correlationId : #[correlationId]" />
		<set-variable value="#[payload]" doc:name="set input payload" doc:id="23ce5820-cf22-45f6-ad23-e58c77288c0d" variableName="inputPayload" />
		<flow-ref doc:name="validating the OTP to register user" doc:id="9c657648-da9c-4ede-9371-baa51e956747" name="users-verify-signupSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="361f5ab4-d73c-450e-92d9-9711942b4771" message="post:\user\verify\signup Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\user\(username):password-management-papi-config">
        <logger level="INFO" doc:name="Entry logger" doc:id="98a452f7-13fd-421b-980c-f6d99702ef4b" message="get:\user\(username) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="9a76e775-60fa-4333-9892-619f4a5bf53f">
            <ee:variables>
				<ee:set-variable variableName="requestPreset" ><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.getUser.path') ++ "/"  ++ attributes.uriParams.'username',
"method": p('pwd_mngmt.sapi.getUser.method')
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get user by username" doc:id="fda7de45-6363-4382-9b0a-f89ce89b2b71" name="common-pwd-management-sapi-callSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="b13b70e1-2359-4874-85d6-a0ff56cbbd73" message="get:\user\(username) Flow ended | correlationId : #[correlationId]" />
    </flow>
	<flow name="delete:\user\signout\(username):password-management-papi-config" doc:id="852050c6-e95c-4d61-8597-238fa31fc1ce" >
		<logger level="INFO" doc:name="Entry logger" doc:id="6e253ee6-56b4-4eaf-86d2-430f7b61655c" message="get:\user\(username) Flow started | correlationId : #[correlationId]" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="d68451f8-495c-4628-93b6-d29addc84242" >
			<ee:variables >
				<ee:set-variable variableName="requestPreset" ><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.signoutUser.path') ++ attributes.uriParams.'username',
"method": p('pwd_mngmt.sapi.signoutUser.method')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="signout user by username" doc:id="e95ae204-08a8-4a2c-9d6c-a33024c9e874" name="common-pwd-management-sapi-callSub_Flow" />
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{"message": "user logged out successfully"}]' doc:name="response Payload" doc:id="6f2b4ee3-1d1f-464e-84b0-f6df237047de" />
		<logger level="INFO" doc:name="End logger" doc:id="cf2d864b-6470-48fb-9ae5-484e6530219a" message="get:\user\(username) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="put:\vault\(vault_id)\secrets\(category):application\json:password-management-papi-config" doc:id="2dafc3ca-c843-4b6c-a02a-00b9b59799f9" >
		<logger level="INFO" doc:name="Entry logger" doc:id="cfceffe3-7ada-472e-98d5-93aaddc180ba" message="put:\vault\(vault_id)\(category) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="e6304606-4e1e-4cf8-a1ce-785ba15d82d8" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="eb37ccf0-2f7b-438b-85d1-d83c24e5dde2">
			<ee:variables>
				<ee:set-variable variableName="requestPayload"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json
---
{"secrets":toBase64(write(payload.secrets,"application/json"))}]]></ee:set-variable>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.updateVault.path') ++ "/" ++ attributes.uriParams.vault_id  ,
"method": p('pwd_mngmt.sapi.updateVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update secrets using vault id and category" doc:id="7671407a-176d-4f25-807d-254966692402" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="d5e89d85-f687-47e2-8552-e0bbae9c04ed" message="put:\vault\(vault_id)\(category) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="put:\vault\(vault_id):application\json:password-management-papi-config" doc:id="19839d46-6919-417e-9b7a-1837e5ff1ef8" >
		<logger level="INFO" doc:name="Entry logger" doc:id="1073fd51-20d7-46d4-bdcf-364f3bb245d5" message="put:\vault\(vault_id) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="ab89dfed-3683-4bbf-bf84-538f31a54c95" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="af9a660c-82d7-4479-bbb8-393a3e0fb750">
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.updateVault.path') ++ "/" ++ attributes.uriParams.vault_id  ,
"method": p('pwd_mngmt.sapi.updateVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
{"vault_name": payload.vault_name
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update vault using vault id" doc:id="f05f7a0b-b0ce-4b8b-93ec-c6a601c00324" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="b0c52465-3902-46b1-9b33-522b7f0b2bc2" message="put:\vault\(vault_id) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="delete:\vault\(vault_id)\secrets\(category):password-management-papi-config" doc:id="952cadef-849c-4d20-8777-6386d3de2ab5" >
		<logger level="INFO" doc:name="Entry logger" doc:id="f726345c-f643-4ec8-8623-96d9bdc9caa2" message="delete:\vault\(vault_id)\(category) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="0b428912-1471-45c4-81d0-7b9f49ffdbcf" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="70463e4b-5ecd-4a9e-aa25-fac21426c057">
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.deleteVault.path') ++ "/" ++ attributes.uriParams.vault_id ++ "/" ++ attributes.uriParams.category ,
"method": p('pwd_mngmt.sapi.deleteVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="delete category using vault id" doc:id="fab24ab6-ed7e-4c68-8543-a55c76b635a1" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="e8fab128-992e-4442-a71a-912c12348785" message="delete:\vault\(vault_id)\(category) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="delete:\vault\(vault_id):password-management-papi-config" doc:id="b499b66c-ce9c-43d8-ae18-2f92ff078f81" >
		<logger level="INFO" doc:name="Entry logger" doc:id="3995fd7d-57f4-414f-805e-f1b68f40cdb3" message="delete:\vault\(vault_id) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="5a1e6a0f-0b8f-4e2a-a13c-b909b5dba45d" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="89c7deaa-8ace-4605-a3a0-f79401dd0170">
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.deleteVault.path') ++ "/" ++ attributes.uriParams.vault_id,
"method": p('pwd_mngmt.sapi.deleteVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="delete vault using vault id" doc:id="bfff49ee-98e8-487f-8921-e2fd372f5a78" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="a21aec6a-54ec-4ed4-8ad2-a3ba8be4efad" message="delete:\vault\(vault_id) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\vault\(vault_id)\secrets:password-management-papi-config" doc:id="ea22de48-0302-4218-82dc-748af6a61bee" >
		<logger level="INFO" doc:name="Entry logger" doc:id="92780b5d-aca6-4d7f-85db-0e059a7e0128" message="get:\vault\(vault_id)\secrets Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="920517f7-4964-46af-b91f-0c34a94569ab" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="ceb22299-856a-495e-ba50-e641418fbe99">
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.createVault.path') ++ "/" ++ attributes.uriParams.vault_id ++ "/secrets",
"method": p('pwd_mngmt.sapi.createVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get secrets using vault id" doc:id="2dbf66fc-e03d-49e5-b499-d6b0ae1e3720" name="common-pwd-management-sapi-callSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="5bba2f4d-eda5-4d8e-8b0c-c57d8525e42c" message="get:\vault\(vault_id)\secrets Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="get:\vault\(username):password-management-papi-config" doc:id="6191a930-a65d-4a0b-b8d3-7883b004827d" >
		<logger level="INFO" doc:name="Entry logger" doc:id="63a43a09-3bd5-4639-83a6-cbc870c3fbd3" message="get:\vault\(username) Flow started | correlationId : #[correlationId]" />
		<set-variable value="#[payload]" doc:name="initialPayload" doc:id="bf61a00e-e817-42cd-82e9-5460c1050e88" variableName="initialPayload"/>
		<flow-ref doc:name="verify token" doc:id="f07d0f7f-fdce-48ac-b33d-e5d654967bf8" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request preset and request attributes" doc:id="3cc70be7-1bcc-476e-844a-ab4d4730e51a">
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.getVault.path') ++ "/" ++ attributes.uriParams.'username',
"method": p('pwd_mngmt.sapi.getVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get vault by username" doc:id="eb3b1ddc-fa98-4eb9-8179-83dc2c6b3986" name="common-pwd-management-sapi-callSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="82d22f6d-2655-4476-b8aa-fa1e7990f73e" message="get:\vault\(username) Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\vault\(vault_id)\secrets:application\json:password-management-papi-config" doc:id="35d00f57-02af-4143-b4db-22e2360210da" >
		<logger level="INFO" doc:name="Entry logger" doc:id="6308a012-fd1c-4a30-a6ea-3312e6d2759e" message="post:\vault\(vault_id)\secrets Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="0053ebfd-de9e-45e0-b5ad-894e4628d9cc" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request attributes and requestPayload to create secrets" doc:id="cd081d75-f0be-4da9-88e3-a4f83c5d3f7b">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.createVault.path') ++ "/" ++ attributes.uriParams.vault_id ++ "/secrets",
"method": p('pwd_mngmt.sapi.createVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json
---
{ "category": "",
 "secrets": toBase64(write(payload.secrets,"application/json"))
 }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="create secrets" doc:id="93919c2f-b68b-404d-9aa2-0f5a84e33fa8" name="common-pwd-management-sapi-callSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="c2fb987f-56d9-40e7-a88a-3ef6f51d9cdd" message="post:\vault\(vault_id)\secrets Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\vault:application\json:password-management-papi-config" doc:id="dc3388ae-ee0a-4be9-ad2f-b69ee7caf752" >
		<logger level="INFO" doc:name="Entry logger" doc:id="46caa2f6-57cd-4d47-9b08-c645dde8fdc4" message="post:\vauts Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="a7a41260-601a-4606-b2e7-4b7b7585e57b" name="verify-tokenSub_Flow" />
		<flow-ref doc:name="check duplicate vault " doc:id="bd8d7b7c-4be9-48f2-be25-0cc1462e6eb4" name="create-vaultSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="78e4a616-fc7b-49d4-ab06-abe46903b18a" message="post:\vault Flow ended | correlationId : #[correlationId]" />
	</flow>
	<flow name="post:\vault\assignvault:application\json:password-management-papi-config" doc:id="700c267d-07b7-409d-9ac3-bafb82e1f7ef" >
		<logger level="INFO" doc:name="Entry logger" doc:id="964f2d97-bc04-41a2-891d-7306ea975ec7" message="post:\vault\assignvault Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="verify token" doc:id="f080b23b-7c4f-4311-8301-b275ea9453c8" name="verify-tokenSub_Flow" />
		<ee:transform doc:name="set request attributes and requestPayload to provide access to requester" doc:id="6b6a5259-6f8d-47a2-a2f5-5cfe84297138">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="requestPreset"><![CDATA[%dw 2.0
output application/json
---
{"host": p('pwd_mngmt.sapi.host') ,
"port": p('pwd_mngmt.sapi.port') ,
"path": p('pwd_mngmt.sapi.assignVault.path') ,
"method": p('pwd_mngmt.sapi.assignVault.method'),
"headers": {"session _token": attributes.headers.session_token}
}]]></ee:set-variable>
				<ee:set-variable variableName="requestPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="providing access to requester" doc:id="b00a6290-df6a-4c53-913d-cedfda205be2" name="common-pwd-management-sapi-callSub_Flow"/>
		<logger level="INFO" doc:name="End logger" doc:id="263757d4-1205-4d54-abf5-dd7150d7130d" message="post:\vault\assignvault Flow ended" />
	</flow>
	<flow name="put:\vault\writeAccessVault\(vault_id)\(category):application\json:password-management-papi-config" doc:id="149899c3-b3ed-4a2a-a25e-f67df490738d" >
		<logger level="INFO" doc:name="Entry logger" doc:id="d629138e-33f6-47de-937c-7cb3b4b02d2f" message="put:\vault\writeAccessVault\(vault_id)\(category) Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="checking access provided or not" doc:id="1272e926-dcba-4af7-a77f-81e8e757a9c6" name="check-vaultAccess-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="2374b75d-9f4b-4d8a-bdaf-8346d1af0067" message="put:\vault\writeAccessVault\(vault_id)\(category) Flow ended" />
	</flow>
	<flow name="post:\vault\writeAccessVault:application\json:password-management-papi-config" doc:id="d9fbcd07-8d5a-4d4f-9b26-ee6cb2ded7cd" >
		<logger level="INFO" doc:name="Entry logger" doc:id="7abc5357-f43a-4fee-aad0-d8ff4ec1982b" message="post:\vault\writeAccessVault Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="checking access provided or not" doc:id="611ccc6d-4efc-40e2-b8ac-889a037f1df0" name="check-vaultAccess-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="b4aa7e47-bfaa-462d-909a-ef2a5d4abb5f" message="post:\vault\writeAccessVault Flow ended" />
	</flow>
	<flow name="post:\vault\readAccessVault:application\json:password-management-papi-config" doc:id="096a9611-4286-4374-9e0b-b68d168bf10a" >
		<logger level="INFO" doc:name="Entry logger" doc:id="a92af988-46a2-432d-b957-776569dd3d46" message="post:\vault\readAccessVault Flow started | correlationId : #[correlationId]" />
		<flow-ref doc:name="checking access provided or not" doc:id="28c5c70b-09e5-4640-b348-5e04a145794b" name="check-vaultAccess-implSub_Flow" />
		<logger level="INFO" doc:name="End logger" doc:id="1b94e614-4cd1-46dc-9733-6603e4f0e1e7" message="post:\vault\readAccessVault Flow ended" />
	</flow>
</mule>
