Praveenkumar/dws-email-notification-sapi/src/main/mule/dws-email-notification-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="dws-email-notification-sapi-main">
        <http:listener path="/api/*" config-ref="dws-email-notification-sapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="User login main logger" doc:id="65cb6b43-adac-4831-afbd-ed639a554b39" message="*** Received request on  Email Notification SAPI endpoint: #[attributes.requestPath] | CorrelationId: #[correlationId]***" />
		<apikit:router config-ref="dws-email-notification-sapi-config"/>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="get:\healthCheck:dws-email-notification-sapi-config">
		<ee:transform doc:name="Response Output" doc:id="2d3ef474-0a66-4ea9-a087-c7f3e50cd73f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "status": "Active",
  "apiName": p("api.name"),
  "message": "Application is Running",
  "timestamp": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="post:\sendEmail:application\json:dws-email-notification-sapi-config">
		<flow-ref doc:name="Refer Send Email flow" doc:id="bd7eb106-c2d0-40dd-996d-55c48cfc2aa1" name="post-sendEmail-flow" />
		<ee:transform doc:name="Response Ouput" doc:id="9db6318e-b8b5-411b-840a-1d9410943f7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "SUCCESS",
  message: "Email sent successfully to " ++ vars.vToAddress[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-email-error-handler" />
    </flow>
</mule>
