Alagar/dws-userRegistration-sapi/src/main/mule/dws-userRegistration-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="dws-userRegistration-sapi-main">
        <http:listener path="/api/*" config-ref="dws-userRegistration-sapi-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dws-userRegistration-sapi-config" />
        <error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="patch:\signin\forgotPassword:application\json:dws-userRegistration-sapi-config" doc:id="8636665c-9b38-4b9d-ae3d-181700888cf1">
        <flow-ref doc:name="Flow Refer Signin Forgot Password" doc:id="4d4b49e7-51ce-448d-acd0-db1e0fe8a899" name="patch-signin-forgotPassword-flowSub_Flow" />
        <ee:transform doc:name="Response payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Password changed successfully",
  status: "success",
  timestamp: now()
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="get:\signup\(email):dws-userRegistration-sapi-config" doc:id="13ee7b42-e63b-4948-a518-c08c4cb8e6b3" >
		<ee:transform doc:name="DB get query" doc:id="66de9dc0-cd69-4cbc-9b65-5e65565c8c45" >
			<ee:message >
				<ee:set-payload ><![CDATA[p('database.select_signup') ++ " WHERE email= '" ++ attributes.uriParams.email ++ "'"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Refer Select DB" doc:id="51e545c0-b334-4809-b0a5-7abc1278bb85" name="get-signup-flowSub_Flow" />
		<ee:transform doc:name="Response payload" doc:id="1be763c4-2526-4d7d-8598-ff7142c29b4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
  employeeID: $.employeeid,
  name: $.name,
  company: $.company,
  email: $.email,
  phoneNumber: $.phonenumber,
  password: $.password
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-apikit-error-handler" />
	</flow>
	<flow name="get:\signup:dws-userRegistration-sapi-config">
        <ee:transform doc:name="DB get query" doc:id="acb35835-abd5-4f63-9813-75999e671fac" >
			<ee:message >
				<ee:set-payload ><![CDATA[p('database.select_signup')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Refer Select DB" doc:id="9bfb930a-8956-4628-8cfa-a29de0e251e5" name="get-signup-flowSub_Flow" />
		<ee:transform doc:name="Response payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
  employeeID: $.employeeid,
  name: $.name,
  company: $.company,
  email: $.email,
  phoneNumber: $.phonenumber,
  password: $.password
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
    <flow name="post:\signup:application\json:dws-userRegistration-sapi-config">
        <set-variable value="#[payload.employeeID]" doc:name="Set User Id Variable" doc:id="4263da12-7d8d-4c51-a5be-2ac60ca1b136" variableName="userId"/>
		<flow-ref doc:name="Flow Refer Insert DB " doc:id="56ccbf57-c5a0-4db6-93b5-444ca7c528b6" name="post-signup-flowSub_Flow"/>
		<ee:transform doc:name="Response payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User registered successfully",
  status: "success",
  userId: vars.userId,
  timestamp: now()
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-apikit-error-handler" />
    </flow>
	<flow name="get:\healthCheck:dws-userRegistration-sapi-config" doc:id="35b82d0b-0156-4aeb-ba0f-1ac7a7efdf13" >
		<logger level="INFO" doc:name="Log - Before  Health Check " doc:id="495bed13-ce68-49ce-8726-b64c3ebd6726" message="*** GET /health endpoint triggered | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] ***" />
		<ee:transform doc:name="Health Chech Response" doc:id="0570054d-d6f7-4b90-a972-1b50ec3726e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "Active",
  apiName: p('project.name'),
  message: "Application is Running",
  timestamp: (now() >> "IST" as String {format: "yyyy-MM-dd HH:mm:ss.SSS"})

} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log - After Health Check " doc:id="4e2fb22f-21b1-4b41-b2bb-34ab4ce04c5b" message="*** Health check responded with: #[payload] | Timestamp: #[now() as String {format:'yyyy-MM-dd HH:mm:ss.SSS'}] | CorrelationId: #[correlationId] ***" />
		<error-handler ref="global-apikit-error-handler" />
	</flow>
</mule>
