Habib/vaultapi/src/main/mule/vaultapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
		<db:config name="Database_Config" doc:name="Database Config" doc:id="96fd4f2e-7ab3-44ce-9fc1-2f9fc20a4f2c" >
		<db:generic-connection url="jdbc:postgresql://155.133.26.236:5432/userhabib" driverClassName="org.postgresql.Driver" user="habib" password="pass@habib"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff5352ba-f975-43cf-bd6a-af54d0bf9db5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<!-- [STUDIO:"vaultapiFlow2"]<flow name="vaultapiFlow2" doc:id="8491db20-2ee4-4a7d-a8f3-a941752bd493" >
		<http:listener doc:name="Listener" doc:id="af0078e7-d31a-4b71-b13a-b9b41257ae4f" />
		<db:select doc:name="Select userid fatech valutaccess" doc:id="c78ab678-4189-420c-b567-a5640110f8c6" />
		<choice doc:name="Choice" doc:id="8147116d-d7ba-4560-8722-3d3ae622abe4" >
			<when />
		</choice>
	</flow> [STUDIO] -->
	<flow name="vaultapiFlow" doc:id="7cbee080-ab47-4b94-aece-ca2b07f43dcb" >
		<http:listener doc:name="Listener" doc:id="56d33c2d-de6e-4271-8ec8-958e61429ca1" config-ref="HTTP_Listener_config" path="/postSecret/{userId}"/>
		<db:select doc:name="Select" doc:id="58661adf-d13d-48ab-ad6b-2b378b466047" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT vaultname, userid FROM public.secret where userid= :userId;]]></db:sql>
		</db:select>
	</flow>
	<flow name="CreateVault" doc:id="f06fab7a-a6f4-439e-a1c1-61dfd5047aac" >
		<http:listener doc:name="Listener" doc:id="64148766-6b0e-422c-89a6-5d25c1f67033" config-ref="HTTP_Listener_config" path="/create-vault"/>
		<ee:transform doc:name="Transform Message" doc:id="1651393a-68f1-4c6f-a0a4-12def3f3b99c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="userId" ><![CDATA[%dw 2.0
output application/json
---
payload.userId]]></ee:set-variable>
				<ee:set-variable variableName="vaultName" ><![CDATA[%dw 2.0
output application/json
---
payload.vaultName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="cREATE vault" doc:id="3fe3fb51-029c-4046-a032-7e9b1a5561e1" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Vault (vaultName, userId, emailId, access)
VALUES (:vaultName,  :userId, :emailId, :access);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="9383f035-58dd-4379-bb75-e0f7a05a3637" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message: vars.vaultName ++ "vault is successfully created for userId" ++ vars.userId as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="fetechuserIdbyvault" doc:id="edb715bf-bfd2-40d9-9485-c93fbf954669" >
		<http:listener doc:name="Listener" doc:id="67302591-4ec4-4d6a-a463-c68c65eb49ed" config-ref="HTTP_Listener_config" path="/get-vault/{userId}"/>
		<ee:transform doc:name="Transform Message" doc:id="881b2f7e-4ae6-4ac5-83a5-7c80f2fd62f7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="userId" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.userId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="d41e4574-6978-4597-ad67-8d4eb102a9d8" config-ref="Database_Config">
			<db:sql ><![CDATA[select vaultName , access from Vault where userid = :userId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	userId: vars.userId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c44d3a0b-b028-4e97-85c7-e4ae3f3717c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Secretsupdate" doc:id="f488580f-b02a-4806-8b15-ae6445a16f7b" >
		<http:listener doc:name="Listener" doc:id="7cdfe440-dc7b-47a8-b172-6b6e0835f3c3" config-ref="HTTP_Listener_config" path="/put-vault"/>
		<ee:transform doc:name="Transform Message" doc:id="fed6b02c-bd07-4437-9789-e85966d51bed" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="initialPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="b78a8b30-7784-4d6d-8dfe-693c1ec846aa" config-ref="Database_Config">
			<db:sql ><![CDATA[select access from Vault where userid = :userId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	userId : payload.userId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="48e63316-a75c-4036-b5e9-d3f572c10d74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="118e35b7-785e-4f13-b7b1-46d4c0cce0de" >
			<when expression='#[payload.access[0] == "admin" or  payload.access[0] == "read_write"]'>
				<ee:transform doc:name="Transform Message" doc:id="3fd6e22e-013c-45c7-be2a-f9608ca5a772" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.initialPayload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<!-- [STUDIO:"Update"]<db:update doc:name="Update" doc:id="24f388f3-3b43-4112-9e12-58ec268bb0a2" config-ref="Database_Config"/> [STUDIO] -->
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="5e5dc7ce-bc04-4130-a4b5-3b21022dc14a" type="ACCESS:DENIED"/>
			</otherwise>
		</choice>
	</flow>
</mule>
